<footer>
    <p>
        Innovación tecnológica impulsada por la
        <a href="https://login.uttn.app/Home/Creditos" target="_blank">Carrera de Tecnologías de la Información</a>
        y el Departamento de Sistemas
    </p>
    <p>
        2026 | Universidad Tecnológica de Tamaulipas Norte |
        <a href="https://www.uttn.edu.mx/aviso-de-privacidad/" target="_blank">Aviso de Privacidad</a>
    </p>
</footer>